*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f5f7fb;
height:100vh;
overflow:hidden;
}

.container{
display:flex;
height:100vh;
}

/* Sidebar */

.sidebar{
width:300px;
background:#0f172a;
padding:20px;
overflow-y:auto;
}

.logo{
background:linear-gradient(135deg,#ffd60a,#f59e0b);
color:#111;
padding:20px;
border-radius:20px;
text-align:center;
margin-bottom:20px;
}

.logo h1{
font-size:30px;
}

.logo p{
margin-top:5px;
font-size:14px;
}

.new-chat{
width:100%;
padding:14px;
border:none;
border-radius:15px;
background:#2563eb;
color:white;
font-size:16px;
cursor:pointer;
margin-bottom:20px;
}

.item{
background:#1e293b;
color:white;
padding:18px;
border-radius:18px;
margin-bottom:15px;
font-size:18px;
cursor:pointer;
transition:.3s;
}

.item:hover{
background:#334155;
transform:translateX(5px);
}

/* Chat */

.chat-section{
flex:1;
display:flex;
flex-direction:column;
background:#f8fafc;
}

.chat-header{
background:white;
padding:20px;
border-bottom:1px solid #ddd;
box-shadow:0 2px 5px rgba(0,0,0,.05);
}

.chat-header h2{
color:#1e293b;
}

.chat-header span{
color:#666;
}

.chatbox{
flex:1;
padding:20px;
overflow-y:auto;
display:flex;
flex-direction:column;
gap:15px;
}

.user-message{
align-self:flex-end;
background:#4f46e5;
color:white;
padding:15px;
border-radius:20px 20px 0 20px;
max-width:70%;
word-wrap:break-word;
}

.bot-message{
align-self:flex-start;
background:white;
padding:15px;
border-radius:20px 20px 20px 0;
max-width:70%;
box-shadow:0 3px 8px rgba(0,0,0,.1);
word-wrap:break-word;
}

.quick-actions{
display:flex;
gap:10px;
padding:15px;
flex-wrap:wrap;
background:white;
border-top:1px solid #eee;
}

.quick-actions button{
padding:12px 20px;
border:none;
background:#facc15;
border-radius:30px;
cursor:pointer;
font-size:15px;
}

.quick-actions button:hover{
background:#fbbf24;
}

.input-area{
display:flex;
padding:15px;
background:white;
border-top:1px solid #ddd;
}

.input-area input{
flex:1;
padding:15px;
border:1px solid #ddd;
border-radius:15px;
font-size:16px;
outline:none;
}

.input-area button{
margin-left:10px;
width:60px;
border:none;
background:#2563eb;
color:white;
border-radius:15px;
cursor:pointer;
font-size:20px;
}

.input-area button:hover{
background:#1d4ed8;
}

::-webkit-scrollbar{
width:6px;
}

::-webkit-scrollbar-thumb{
background:#999;
border-radius:20px;
}